


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');

body {
    font-family: "Kaushan Script";
    background-color: black;
}
span{
    color: rgb(104, 232, 232);
    font-size: xx-large;
    text-shadow: 2px 2px 1px rgb(118, 111, 111);
}
.demo{
    font-family:"Josefin+Sans";
}
header {
    background-color: #f8f9fa;
}

header .navbar-brand {
    font-weight: bold;
}

section {
    padding: 60px 0;
}

footer {
    padding: 20px 0;
}

footer a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.title-text{
    text-shadow: 2px 2px #cfc6c6

}
.about1{
    color: white;
  text-shadow: 5px 5px 8px rgb(77, 81, 83);
  text-align: center;
 font-size: 35px;
 font-family:"Josefin+Sans";
}
.aboutp{
    font-size: 25px;
    font-family:"Josefin+Sans";
    margin: 0;
}

.fullbody{
    font-family:"Josefin+Sans";

}
